{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

    {% if user.is_authenticated %}
        <form method="post" ENCTYPE="multipart/form-data">
            <p>Hello {{ user.username }}</p>
            <a href="{% url 'logout' %}">LogOut</a>

                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Post Photo</button>
        </form>
            <div class="images">
                {% for photo in photos %}
                    <div class="img-box">
                         <img height="500px" width="400px" src="{{ photo.photo.url }}"/>
                         <button class="delete-btn">
                             <a href="{% url 'delete' photo.id %}">Delete</a>
                         </button>
                    </div>
                {% endfor %}

              </div>
                {% else %}
                <p>You need to log in first</p>
                <a href="{% url 'login' %}">Login Here|</a>
                <a href="{% url 'signup' %}">Sign Up</a>|
                 <a href="{% provider_login_url 'google' %}">Login with Google</a>

    {% endif %}


</body>
</html>