{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    {% if user.is_authenticated %}
        <form method="post" ENCTYPE="multipart/form-data">
            <p>Hello {{ user.username }}</p>
            <a href="{% url 'logout' %}">LogOut</a>

                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Post Photo</button>
        </form>
            <div class="images">
                {% for photo in photos %}

                    <img src="{{ photo.photo.url }}"/>

                {% endfor %}

                {% else %}
                <p>You need to log in first</p>
                <a href="{% url 'login' %}">Login Here|</a>
                <a href="{% url 'signup' %}">Sign Up</a>
          </div>
    {% endif %}


</body>
</html>